KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_RAW_TOPIC=traffic-raw-data
KAFKA_CONSUMER_GROUP=traffic-monitoring-analytics-group

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=traffic_db
POSTGRES_USER=traffic_user
POSTGRES_PASSWORD=traffic_password

DATABASE_URL=postgresql://traffic_user:traffic_password@localhost:5432/traffic_db
