# YOLO / Object Detection
ultralytics

# Video Processing
opencv-python-headless
ffmpeg-python

# OCR
easyocr

# Kafka
confluent-kafka

# Utilities
python-dateutil

psycopg[binary]==3.3.4 # PostgreSQL adapter for storing streaming events in TimescaleDB